
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary-color:#42200b;
    --seconder-color:#ffc135;
    --tertiary-color:#df1c1c;
    --text-dark:#212529;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font-1:"Alfa Slab One", serif;
    --header-font-2:"Bebas Neue", sans-serif;
 

 
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: auto;
}
.section__container{
 mask-image: var(--max-width);
 margin: auto;
 padding: 5rem;
}
.section__header{
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--header-font-1);
    color: var(--primary-color);
    text-align: center; 
    line-height: 3.75rem;
    text-shadow: 2px 2px var(--seconder-color);

}
.section__description{
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;


}
.btn{
    padding: 1rem 1.5rem;
    outline: none;
    border:none;
    font-size: 1rem;
    color:var(--whites);
    background-color: var(--tertiary-color);
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--primary-color);
}
img{
    display: flex;
    width: 100%;
}
html,
body {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    overflow-x: auto;
    min-height: 300px;

}
.header{
    background-image: url(assets/header-bg.png);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    position: fixed;
    width: 100%;
    margin-inline:auto;
    z-index: 9;
}
.nav__header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.nav__logo img{
    max-width: var(--max-width);
    display: flex;


}
.nav__logo-dark{
    display:none;

}
.nav__menu__btn{
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
}
.nav__links{
    position: absolute;
    top: 60px;
    left:0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: .5s;
    z-index: -1;
    transform: translateY(-100%);

}
.nav__links.open{
    transform: translateY(0);
    display: flex;
}
.nav__links a{
    font-weight: 600;
    text-decoration: none;
    white-space:nowrap;
    color: var(--white);
    transition: 0.3rem;

}
.nav__links a:hover{
    color: var(--seconder-color);


}
.header__container{
    display:grid;
    gap: 1rem;
    overflow: hidden;
    font-family:"Montserrat", sans-serif; ;
}
.header__image img{
    max-width: 600px;
    margin-inline:auto;

}
.header__content h2{
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;;
    color: var(--tertiary-color);
    border: 2px dashed var(--primary-color);
    text-align: center;
}

.header__content h1{
    font-size: 4rem;
    font-weight: 500;
    font-family: var(--header-font-1);
    padding-bottom: 2px;
    color: var(--primary-color);
    line-height: 3.5rem;
    text-align: center;
    display: block;
    text-shadow: 2px 2px  var(--white);
    
   
}
.header__content h1 span{
    font-size: 2.5rem;
    display: block;
    
}
.banner__container{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 200px;
}
.banner__card{
    padding: 1rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;

}
.banner__card:nth-child(1){
    background-image: url(assets/banner-1.png);


}
.banner__card:nth-child(2){
    background-image: url(assets/banner-2.png);


}
.banner__card:nth-child(3){
    background-image: url(assets/banner-3.png);


}
.banner__card p{
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
}
.banner__card h4{
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
}
.order__container h3{
   max-width: fit-content;
   margin-inline: auto;
   margin-bottom: 1rem;
   padding: .5rem 2rem;
   display: block;
   align-items: center;
   font-size: 400;
   font-family:monospace;
   color: var(--primary-color);
   background-color: var(--seconder-color);

}
.banner__container .section__header{
    margin-bottom: 1rem;
}
.order__container .section__description{
    margin-bottom: 2rem;
    text-align: center;
}
.order__grid{
    display: grid;
    gap: 2rem 1rem;

}
.order__card{
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 0.3s;
}
.order__card:hover {
    box-shadow: 5px 5px 30px black;
    cursor: pointer;
 
}
.order__card img{
    max-width: 250px;
    margin-inline: auto;
    margin-bottom: 2rem;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
}
.order__card h4{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);

}
.order__card p{
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
}
@media (width > 540px) {
    .banner__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .banner__card:nth-child(1){
        grid-area: 1/1/2/3;
    }
    .order__grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (width > 768px) {
    nav{
        position: static;
        padding:2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .nav__header{
        padding: 0;
        background-color: transparent;
    }
    .nav__logo img{
        max-width: 250px;
    }
    .nav__logo-dark{
        display: flex;
    }
    .nav__logo-white{
        display: none;
    }
    .nav__menu__btn{
        display: none;
    }
    .nav__links{
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        display: flex;
        background-color: transparent;
        transform: none;
        z-index: 1;
    }
    .nav__links a{
        color: var(--primary-color);
    }
    .nav__links a:hover{
        color: var(--white);
    }
    .header__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .header__image{
        grid-area: 1/2/2/3;
    }
    .header__content h2{
        margin-inline-start: unset;
    }
    .header__content h1 {
        text-align: left;
    }
    .banner__card:nth-child(1){
        grid-area: 1/1/3/2;  

    }
    .order__grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (width > 1024px) {
    .order__grid {
        gap: 2rem;
    }
}

